## CIA World Factbook

In this project, we'll work with data from the [CIA World Factbook](https://www.cia.gov/library/publications/the-world-factbook/), a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like:

- population - The population as of 2015.
- population_growth - The annual population growth rate, as a percentage.
- area - The total land and water area.

In this project, we'll explore the Python SQLite workflow to explore, analyze, and visualize data from this database. First things first, let's get familiar with the database.

In [1]:
import sqlite3
import pandas as pd
import numpy as np

conn = sqlite3.connect('facebook.db')
cursor = conn.cursor()
q1 = "SELECT * FROM sqlite_master WHERE type = 'table';"
pd.read_sql_query(q, conn)

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []